<tr>
    <td class="square  <%=color %> "><p class= "squareText"><%=act %></p></td>
    <td class="cell">
        <label><%=name %> </label><br>
        <label class="emailFont"><%=today %></label>
    </td>
    <td class="cell">
        <a href="#" class="item">view</a>
    </td>
</tr>
<tr><td>&nbsp;</td>&nbsp;<td></td>&nbsp;<td></td>&nbsp;</tr>