<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script defer=true type "text/javascripts" src="/javascripts/carousel.js"></script>
    <script defer=true type "text/javascripts" src="/javascripts/carousel2.js"></script>
    <title>
        <%= title %>
    </title>
</head>

<body>
    <header>
        <img src="/images/helpNowLogo.png" alt="help now logo">
        <nav>
            <ul class="navLinks">
                <li><a href="/">Home</a></li>
                <li><a href="/contact">Contact Us</a></li>
                <li><a href="/about">About US</a></li>
                <li class="dropdown">
                    <a href="#" class="dropbtn">Member</a>
                        <div class="dropdown-content">
                          <a href="/events">Events</a>
                          <a href="/events/eoi">Host Events</a>
                          <a href="#">Check Out</a>
                        </div>
                </li>
                <li><a href="/surveys">Surveys</a></li>
                <li><a href="/auth">Login</a></li>
                <li><a href="/account">My Account</a></li>
            </ul>
        </nav>
        <form method="POST" action="/search">
            <input type="text" placeholder=" Search..." name="search" class="searchTextBox">
            <button type="submit" width=100px height=100px class="searchButtonImg">&nbsp;&nbsp;</button>
        </form>
    </header>