<div class="itemsDeal dealBox slide">
    <img src="/images/placeHolder.png" alt="" width="80" height="80" class="itemImg"><br>    
    <Label ><%=itemName %></Label><br>
    <Label >Price:<%=price %></Label><br>
    <a href=# class="item">View Item</a>
</div>