<tr>
    <td class="circle <%=color %> ">FL</td>
    <td class="cell">
        <label>First and Last Name</label><br>
        <label class="emailFont">email@nowhere.com</label>
    </td>
    <td class="cell">
        <a href="#" class="item">view</a>
    </td>
    <td class="cell">
        <a href="#" class="item"><%=task %></a>
    </td>
</tr>