<% include ./partials/header %>
<div class="parent">
    <div class="boxIt">
        <br>
        <h3>Events</h3>
        <p>Use this page to access events that are on offer by Help Now</p>

        <p><strong>Search for an Event</strong></p>

        <table>
            <tr>
                <td><label for="fname">Event Name: </label></td>
                <td><input type="text" id="eventname" name="eventname"></td>
            </tr>
            <tr>
                <td><label for="fname">Event Date: </label></td>
                <td><input type="date" id="eventname" name="eventname"></td>
            </tr>
            <tr>
                <td><label for="fname">Club: </label></td>
                <td><input type="text" id="eventname" name="eventname"></td>
            </tr>
            <tr>
                <td><label for="fname">Event Organiser: </label></td>
                <td><input type="text" id="eventname" name="eventname"></td>
            </tr>
            <tr>
                <td><input type="submit" value="Submit"></td>
            </tr>
        </table>
        <br>
        <hr>
        <h3>Results</h3>

        <table style="width: 600px; border: grey 1px dashed; text-align: center;">
            <tr>
                <th>Event Name:</th>
                <th>Event Date</th>
                <th>Club(s)</th>
                <th>Organiser(s)</th>
            </tr>
            <tr>
                <td><a href="">Lawn Bowls 4 Eva</a></td>
                <td>1/5/2020</td>
                <td><a href="">Lawn Bowls</a></td>
                <td><a href="https://en.wikipedia.org/wiki/Steve_Jobs" target="_blank">Steve Jobs</a></td>
            </tr>
            <tr>
                <td><a href="">Chess Club 4 Eva</a></td>
                <td>1/5/2020</td>
                <td><a href="">Chess Club</a></td>
                <td><a href="https://en.wikipedia.org/wiki/Elon_Musk" target="_blank">Elon Musk</a></td>
            </tr>
            <tr>
                <td><a href="">Arrow to the Knee</a></td>
                <td>1/5/2020</td>
                <td><a href="">Archery Club</a></td>
                <td><a href="https://en.wikipedia.org/wiki/Isaac_Asimov" target="_blank">Isaac Asimov</a></td>
            </tr>
            <tr>
                <td><a href="">Flowers for Cancer</a></td>
                <td>1/5/2020</td>
                <td><a href="">Floral Club</a></td>
                <td><a href="https://en.wikipedia.org/wiki/Edith_Cowan" target="_blank">Edith Cowan</a></td>
            </tr>
        </table>

        <br>
        <hr>

        <h3>Create an Event</h3>


        <table>
            <tr>
                <td><label for="fname">Event Name: </label></td>
                <td><input type="text" id="eventname" name="eventname"></td>
            </tr>
            <tr>
                <td><label for="fname">Event Date: </label></td>
                <td><input type="date" id="eventname" name="eventname"></td>
            </tr>
            <tr>
                <td><label for="fname">Club: </label></td>
                <td><input type="text" id="eventname" name="eventname"></td>
            </tr>
            <tr>
                <td><label for="fname">Event Organiser: </label></td>
                <td><input type="text" id="eventname" name="eventname"></td>
            </tr>
            <tr>
                <td><input type="submit" value="Submit"></td>
            </tr>
        </table>
    </div>
</div>
<% include ./partials/footer %>