<% include header %>
<div>

  <h3>Welcome to Help Now.</h3>
  <p>At Help Now, we aspire to provide interesting, engaging and most importantly cost effective activities
      and clubs, keyed towards the elderly, disabled, and disadvantaged communities. We understand that
      everyone has the right to feel independent, and live out their best lives.</p>

  <h3>What do we offer?</h3>
  <p>We offer fun and innovative clubs and activities including Lawn Bowls,, Archery, Floral Arrangements,
      Chess, and Antique Books. Membership to any of these clubs is a yearly fee of $5, payable via Credit
      Card, PayPal or In Person at our amazing facility located at <strong>123 Boring Road, SleepyTime WA 6000.</strong></p>
</div>
<% include footer %>