<% include ./partials/header %>
<div class="parent">
    <div class="boxIt" style="text-align: center;">
        <img src="/images/WorkInProgress.PNG" alt="Work In Progress" >
        <h1><%=search  %></h1>
    </div>
</div> 
<% include ./partials/footer %> 