<% include ./partials/header %>
<div class="parent">
    <div class="boxIt">

        <h3>Surveys</h3>

        <form action="" method="get">
            <label for="fname">First name:</label>
            <input type="text" id="fname" name="fname"><br><br>
            <label for="lname">Last name:</label>
            <input type="text" id="lname" name="lname"><br><br>
            <label for="lname">Question 1:</label>
            <input type="text" id="lname" name="lname"><br><br>
            <label for="fname">Question 2:</label>
            <input type="text" id="fname" name="fname"><br><br>
            <label for="lname">Question 3:</label>
            <input type="text" id="lname" name="lname"><br><br>
            <label for="fname">Question 4:</label>
            <input type="text" id="fname" name="fname"><br><br>
            <label for="lname">Question 5:</label>
            <input type="text" id="lname" name="lname"><br><br>
            <br>
            <input type="submit" value="Submit">

          </form>

    </div>
</div> 
<% include ./partials/footer %> 