header{
    width: 100%;
    display:flex;
    justify-content: space-between;
    background-color: white;
    box-shadow: 0px 5px 5px rgba(0,0,0,0.2);
    padding: 20px 50px 20px;
    margin-bottom: 20px; 
  }
  
  .navLinks{
    list-style: none;
    font-weight: bold;
  }
  
  .navLinks li {
    display: inline-block;
    padding: 70px 10px 10px;
    font-size: 1.5em;
    margin-left: 2em;
  }
  
  .navLinks li a:hover{
    color: #707070;
  }
  
  .logo{
    cursor: pointer;
  }
  
  a {
    color: #000000;
  }
  
  .searchButtonImg{
    background: url(/images/searchIcon.png) no-repeat;
    background-size: 15px;
    background-position: center;
    height: 34px;
    width:54px;
    border-radius: 5px;
    border-bottom: 1px solid #707070;
    box-shadow: 0px 5px 5px rgba(0,0,0,0.2)  
  }
  
  .searchTextBox{
    width: 200px;
    height: 33px;
    border: 1px solid #707070;
    box-shadow: 0px 5px 5px rgba(0,0,0,0.2) 
  }

  .dropdown .dropbtn {
    border: none;
    outline: none;
    padding: 14px 16px;
    margin: 0;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }