<% include ../partials/header %>
<div class="parent">
    <div class="boxIt2">
        <h1 style="text-align: left;">Forgot Password?</h1>
        <p>Submit your Help Now account email address and we'll send you a link to reset your password.</p><br>
        <div class="logBox">
            <form method="POST" action="">
                <div class="logForm">
                    <label for="email" class="midRight">Email</label><input type="text" name="email" id="email"
                        placeholder=" your@email.com">
                </div>
                <div class="logForm3">
                    <br><button onclick="location.href = '/';" width=100px height=100px>Submit</button>
                </div>
            </form>
        </div>
        <div style="text-align: center;">
            <a href="/auth" class="item">Back to Login</a>
        </div>
        <p>Need an Account?<a href="/auth/rego" class="item"> Register Here</a></p>
    </div>
</div>
</div>
<% include ../partials/footer %>