<% include ../partials/header %>
<div class="parent">
    <div class="boxIt error">
        <h1>404</h1>
        <img src="/images/sadFace.PNG" alt="sad face">
        <h2>I even looked under the table... still couldn't find</h2>
    </div>
</div>
<% include ../partials/footer %>